body {
    background: #eee;
    font-family: "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
     text-decoration: none;
     color:#fff;
}
.head_bj {
    background: #fff;
    width: 1920px;
    height: 300px;
}

.container-fluid{
    padding:0;
}
.container {
    width: 1150px;
    min-height:560px;
    position: relative;
    margin: 0 auto;
}
.container h2{
    margin: 0;
    text-align: center;
    padding-top: 20px;
}
.nav {
    text-align: center;
    margin-top:-40px;
}

.nav ul {
    margin: 0;
    padding: 0;
    line-height: 36px;
    list-style: none;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 5px;
}
.nav ul li a{
    color:#0084ba;
}

.nav ul li:hover {
    border-bottom: 2px solid #ff9800;
}
.nav ul .select{
    border-bottom: 2px solid #ff9800;
}
.left{
    width:800px;
    top:0px;
    left:0;
}
.right{
    width:300px;
    position: absolute;
    top:0px;
    right:0;
}
article{
    min-height:300px;
    margin-top:30px;
    background: #fff;
}
.info{
    min-height: 200px;
    padding:10px 20px;
    margin-top:30px;
    background: #fff;
}
.info h3{
    display: inline-block;
    font-size: 21px;
    margin:0;
    padding:0;
    padding-right: 15px;
    border-bottom: 2px solid #ff9800;
}
.info p a{
    color:#333333;
}
.colwarning{
    color:#f00;
}
.row{
    margin-right:0;
    margin-left:0;
}
.borderBottom{
    width: 240px;
    border-bottom: 1px solid #cccccc;
    margin-bottom:15px;
}
.control-label{
    width: 90px;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right:15px;
}
.sketch{
    width: 500px;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
}
.sketch dl{
    display: inline-block;
    margin-right:20px;
    margin-bottom:0px;
}
.sketch dt{
    display: inline-block;
    font-weight: bold;
    color: #3c3c3c;
}
.sketch dd{
    margin:0;
    display: inline-block;
    color: #0084ba;
}
.content{
    min-height: 200px;
    padding:10px 50px;
    position: relative;
}
.content p{
    min-height:140px;
    text-overflow:ellipsis;
    overflow:hidden;
}
.content button{
    position: absolute;
    bottom:0;
}
.commentPage ul{
    padding:0 10px;
}
.commentPage li{
    display: inline-block;
    margin-right: 275px;
}
.commentPage li:last-of-type{
    margin-right:0px;
}
.commentPage li a{
    color: #333;
}
.readAll{
    color: #fff;
}
.readAll:hover{
    color: #fff;
}
.page{
    width: 100%;
    height:70px;
    background: #fff;
    margin-top:30px;
    font-size: 18px;
    line-height: 50px;
    padding:10px 30px;
    text-align: center;
}
.dib{
    display: inline-block;
}
.dib a, .enterAdmin{
    color: #000;
}
.enterAdmin:hover{
    color: #555;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cet{
    text-align: center;
}


/*内容详情*/
.comment{
    padding:30px;
}
#messageBtn{
    margin:0 auto;
    margin-top:10px;
}
#messageContent{
    min-height: 120px;
    margin:0 auto;
    margin-top:10px;
    resize: none;
}
.messageBox{
    min-height: 60px;
    border-top:1px solid #ccc;
    padding:10px;
}
.noLogin{
    margin:0;
    padding: 10px 20px;
    border: 2px solid #ea0700;
}
.noLogin a{
    padding-top:4px;
    color:#1b6d85;
}
.commentInfo{
    font-size: 16px;
}
.commentInfo .time{
    font-size: 14px;
}
.commentContent{
    color: #666;
}
.userName{
    padding-top:4px;
    border-top: 1px solid #eee;
}





footer{
    width: 1920px;
    height:180px;
    background: #fff;
    border-top: 1px solid #aaaaaa;
    margin-top:50px;
}
